<div *ngIf="quiz" class="quiz">
  <h2>{{quiz.Title}}</h2>
  <ul>
    <li>
      <label>Title:</label>
      <input [(ngModel)]="quiz.Title" placeholder="Insert the
            title..." />
    </li>
    <li>
      <label>Description:</label>
      <textarea [(ngModel)]=" quiz.Description"
                placeholder="Insert a suitable description..."></textarea>
      <!--  In case we don’t like having a two-way binding relationship, we can easily turn it off by removing the parentheses around the ngModel directiv. Known as banana brackets -->
    </li>
  </ul>
</div>
